html {
	display: block;
	height:100%;
	--site-width: 980px;
    --above-all-z-index: 100000;
    --portals-z-index: 100001;
    --minViewportSize: 320;
    --maxViewportSize: 1920;
}
body {
	display: block;
	overflow-x: auto;
	overflow-y: scroll;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
.site-container {
	position: relative;
	display: block;
}
.header {
	left: 0;
	margin-left: 0;
	padding-top: 40px;
	width: 100%;
	height: auto;
	min-width: 980px;
	display: block;
	position: relative;
	background-color: rgba(207,207,207,0.15);
}
.header-row-1 {
	height: auto;
	width: 592px;
	position: relative;
	margin:34px 0px 19px calc((100% - 980px)*0.5);
	left: 194px; 
}
h1 {
	text-align: center;
	margin:0;
	line-height: normal;
	letter-spacing: 0.1em;
	font: normal normal normal 32px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;
	color: rgb(41,41,41);
}
.header-row-2-3 {
	height: auto;
	width: 574px;
	position: relative;
	margin: 10px 0px 20px calc((100% - 980px) * 0.5);
	left: 204px;
}
.header-paragraph {
	color: rgb(160,160,159);
	text-align: center;
	font-size: 14px;
	margin:0;
	line-height: normal;
	letter-spacing: normal;
	font: normal normal normal 14px/1.4em 'open sans',sans-serif;
	letter-spacing: 0.7em;
}
a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}
.menu {
	position: relative;
	width: 980px;
	height: 41px;
	padding-bottom: 45.016px;
	margin: 0px 0px 30px calc((100% - 980px) * 0.5);
	direction: ltr;
	overflow-x: visible;
	font: italic normal normal 16px/1.4em 'eb garamond',serif;

}
.nav {
	display: flex;
	position: absolute;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
ul {
	text-align: center;
	display: block;
	list-style: none;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start:  40px;
	padding: 0;
}
.menu-dogs {
	width: 216px;
	height: 41px;
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	visibility: inherit;
	display: inline-block;
	text-align: center;
}
.menu-cats {
	width: 210px;
	height: 41px;
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	visibility: inherit;
	display: inline-block;
	text-align: center;
}
.menu-otheranimals {
	width: 280px;
	height: 41px;
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	visibility: inherit;
	display: inline-block;
	text-align: center;
}
.menu-about {
	width: 260px;
	height: 41px;
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	visibility: inherit;
	display: inline-block;
	text-align: center;
}
.menu-item {
	display: inline-block;
	padding: 0 10px;
	color: rgb(41, 41, 41);
	line-height: 41px;
}
.pages-container {
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	position: relative;
	left: 0;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	min-width: 980px;
	overflow-x: clip;
	border: 0;
}
.gallery {
	display: block;
	position: relative;
	margin: 29px 0px 0 calc((100% - 980px) * 0.5);
	left: -168px;
	width: 1177px;
	height: 2596px;
}
.gallery-photo-1 {
	display: block;
	width: 747px;
	height: 560px;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	object-fit:cover;
	position:absolute;
	top: 0;
	left: 0;
	margin: 0;
	overflow: hidden;
	border-radius: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
.gallery-photo-2 {
	display: block;
	width: 419px;
	height: 560px;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	object-fit:cover;
	position:absolute;
	top: 0;
	left: 757px;
	right: auto;
	margin: 0;
	overflow: hidden;
	border-radius: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
.gallery-photo-3 {
	display: block;
	width: 582px;
	height: 388px;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	object-fit:cover;
	position:absolute;
	top: 570px;
	left: 0;
	right: auto;
	margin: 0;
	overflow: hidden;
	border-radius: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
.gallery-photo-4 {
	display: block;
	width: 585px;
	height: 388px;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	object-fit:cover;
	position:absolute;
	top: 570px;
	left: 592px;
	right: auto;
	margin: 0;
	overflow: hidden;
	border-radius: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
.gallery-photo-5 {
	display: block;
	width: 549px;
	height: 411px;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	object-fit:cover;
	position:absolute;
	top: 968px;
	left: 0;
	right: auto;
	margin: 0;
	overflow: hidden;
	border-radius: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
.gallery-photo-6 {
	display: block;
	width: 618px;
	height: 411px;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	object-fit:cover;
	position:absolute;
	top: 968px;
	left: 559px;
	right: auto;
	margin: 0;
	overflow: hidden;
	border-radius: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
.gallery-photo-7 {
	display: block;
	width: 617px;
	height: 411px;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	object-fit:cover;
	position:absolute;
	top: 1388px;
	left: 0;
	right: auto;
	margin: 0;
	overflow: hidden;
	border-radius: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
.gallery-photo-8 {
	display: block;
	width: 550px;
	height: 627px;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	object-fit:cover;
	position:absolute;
	top: 1388px;
	left: 627px;
	right: auto;
	margin: 0;
	overflow: hidden;
	border-radius: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
.gallery-photo-9 {
	display: block;
	width: 1177px;
	height: 786px;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	object-fit:cover;
	position:absolute;
	top: 1809px;
	left: 627;
	right: auto;
	margin: 0;
	overflow: hidden;
	border-radius: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
.footer-block {
	display: block;
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 980px;
	height: 116px;
	margin-left: calc((100% - var(--site-width)) / 2)
}
.signature {
	text-align: center;
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: rgb(96,94,94);
	padding-top: 80px;
}